@charset="utf-8";
* {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

body {
    overflow-x: hidden;
    position: relative;
}

a {
    color: #333;
    text-decoration: none;
}

.indent {
    text-indent: 20em;
}

.color-blue {
    color: #2e6da4;
}

/*update*/
.title h4 {
	font-size: 65px;
}

.title h2 {
	font-size: 80px;
}